#center {
  display: flex !important;
  flex-direction: column !important;
  gap: 25px !important;
  place-content: center !important;
  place-items: center !important;
  flex-grow: 1 !important;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px !important;
    gap: 18px !important;
  }
}

.LogoCont {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
  flex-direction: column !important;
}

.logo {
  width: clamp(17rem, 55vw, 55rem) !important;
  height: auto !important;
  cursor: pointer !important;
}


.logo:hover {
  transform: scale(1.02) !important;
}


@font-face {
  font-family: 'Rosebud';
  src: url('./assets/Rose\ Bud\ Sweet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CarvedRock';
  src: url('./assets/Carved\ Rock.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CarvedRock', sans-serif !important;
  background-image: url('./assets/fondocasi4kNUEVA.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

.rosebud {
  font-family: "Rosebud", sans-serif !important;
}

.links {
  display: grid !important;
  grid-auto-flow: row !important;
  margin-top: 0.3rem !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 0.3rem !important;
  font-size: 1.3rem !important;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  -webkit-box-shadow: -12px 8px 0px 2px #017cd2;
  box-shadow: -12px 8px 0px 2px #017cd2;
}

.link {
  cursor: pointer !important;
}

.link:hover {
  color: rgb(174, 212, 246) !important;
}

.link a {
  text-decoration: none !important;
  all: unset !important;
}

.email {
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
}

.linkspan {
  display: flex !important;
  gap: 0.4rem !important;
  justify-content: center !important;
  flex-direction: column !important;
  margin-bottom: 0.4rem !important;
  margin-top: 0.4rem !important;
}


.emailinp {
  display: flex !important;
  justify-content: center !important;
  gap: 0.2rem !important;
}

@media (max-width: 1024px) {
  .linkspan {
    flex-direction: column !important;
  }

  .links {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 420px) {
  .p {
    font-size: 85% !important;
  }

  .LogoCont {
    position: fixed !important;
    top: 4.5rem !important;
  }

  .links {
    font-size: 0.9rem !important;
    padding: 0.5rem 0.8rem !important;
    max-width: 90vw !important;
    gap: 0.1rem !important;
  }

  .emailinp {
    flex-direction: column !important;
  }
}

